<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="YENİ2_PERSONEL.Properties.Settings.personelConnectionString"
            connectionString="Data Source=&quot;HARUNAKN\SQLEXPRESS01&quot;;Initial Catalog=personel;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="YENİ2_PERSONEL.Properties.Settings.personel_alfaConnectionString"
            connectionString="Data Source=HARUN-NB;Initial Catalog=personel_alfa;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>